.fondo {
    background-color: rgb(30, 11, 20);
}

.miTexto {
    font-size: 80px;
    color: rgb(128, 49, 0);
}

* {
    margin: 15;
    padding: 15;
    box-sizing: content-box;
    font-family: cursive, sans-serif;
}

h1 {
    color:rgb(128, 115, 0)
}


